<h1><%= @wiki.title %> </h1>

<p><%= @wiki.body %></p>

<p>by <%= @wiki.user.username %></p>

<h4>Wiki Collaborators:</h4>
     <% if @wiki.collaborators.any? %>
      <% @wiki.collaborators.each do |c| %>
         <h6 class="text-muted">
          <%= @wiki.user.username %>

        
        <% end %>
                   <%= link_to "Manage collaborators", wiki_collaborators_path(@wiki), class: "btn btn-info" %>
        <% end %>
   